# Author: Abdelrahman Helaly
# Contact: < AH3laly@gmail.com , https://Github.com/AH3laly >
# Project: A0 PHP Lightweight Framework (A0 for Abdo). 
# Description: Simple & Fast & Lightweight PHP Framework to quickly Create website.
# License: Science not for Monopoly.

RewriteEngine on
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$  includes/controller.php/$1 [QSA,L]
</IfModule>

